---
// Henter parametrene fra Astro.props
const {
  href = "#",
  target = "_self",
  cardimage = "",
  cardimagealt = "",
  h3 = "",
  h4 = "",
  body = "",
  buttonHref = "#",
} = Astro.props;

import Button from "./Button.astro";
---

<div
  class="p-s border-1 border-blue-500 w-fit h-[550px] flex flex-col justify-between hover:outline-1 hover:outline-blue-500"
>
  <a href={href} target={target}>
    <img src={cardimage} class="w-full h-[226px]" alt={cardimagealt} />
    <div class="flex flex-col">
      <div class="flex flex-col gap-2xs mb-m">
        <div class="flex flex-col gap-4xs">
          <h3>{h3}</h3>
          <h4>{h4}</h4>
        </div>
        <p class="max-w-[50ch]">{body}</p>
      </div>
    </div>
  </a>
  <div class="mt-auto"><Button href={buttonHref}>Order now</Button></div>
</div>
